* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Luxurious Roman', cursive;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    font-family: 'Gideon Roman', cursive;
    background-color: #296EB4;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #FDB833;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
    display: flex;
    margin-right: 30px;
}

#logo {
    font-size: 200%;
    font-weight: bolder;
}

button {
    font-family: 'Luxurious Roman', cursive;
}