* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
    height: 100%;
}

body {
  font-family: 'Luxurious Roman', cursive;
  color: #296EB4;
}

h1 {
  padding-top: 5%;
}

a {
  color: #296EB4;
}

a:visited {
  text-decoration: none;
}

/* For smallers screen sizes from 600px wide and down */
/* Logo styling */
#logo {
  font-size: 150%;
  font-weight: bolder;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  font-family: 'Gideon Roman', cursive;
  background-color: #1789FC;
  position: relative;
  top: 0;
}

/* Hide the links inside the navigation menu (except for logo) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: #fff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #296EB4;
  color: #fff;
  display: block;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* Add color when links in header are hovered over */
header a:hover {
  color: #FDC149;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #296EB4;
  color: #fff;
}

/* Style welcome section on homepage */
.welcome {
  display: block;
  background-color: #fff;
  color: #296EB4;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(41, 110, 180);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;
}

#welcome-image {
  border-radius: 25px;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 2%;
}

/* Style buttons */
button {
  font-family: inherit;
  display: block;
  background-color: #fff;
  color: #296EB4;
  border-radius: 25px;
  border: solid 5px #296EB4;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bolder;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: #296EB4;
  color: #fff;
  font-weight: bolder;
}

button:checked {
  background-color: #296EB4;
  color: #fff;
  font-weight: bolder;
}

#play {
  width: 20vw;
  height: 10vh;
  font-size: larger;
  font-weight: bolder;

}

#start {
  margin: 50px auto;
  font-size: x-large;
  width: 30vw;
  height: 10vh;
}

#submit {
  width: 30vw;
  height: 10vh;
  font-weight: bolder;
  font-weight: larger;
}

/* Style footer */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

footer {
  background-color: #296EB4;
  color: #fff;
  height: 10vh;
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 2.5rem; 
}

/* Style quiz container on play page */
.quiz-container {
  color: #296EB4;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(41, 110, 180);
  margin: 20px;
}

#progress-container {
  text-align: center;
}

#progress-text {
  padding-top: 5%;
}

#question {
  text-align: center;
}

ul {
  list-style-type: none;
}

.answer-options {
  text-align: center;
  margin-bottom: 10px;
}

.answer-options input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.answer-options label {
  display: block;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #296EB4;
  border-radius: 4px;
  margin: 10px;
}

.answer-options label:hover {
  background-color: #296EB4;
  color: #fff;
  font-weight: bolder;
}

.answer-options input[type="radio"]:checked + label {
  background-color: #296EB4;
  color: #fff;
  font-weight: bolder;
}

